:root {
    --light-text: white;
    --dark-text: rgb(6, 6, 6);
    --body-color: rgb(225, 225, 225);
    --main-color: rgb(34, 142, 204);
    --card-color: white;
    --accent: rgb(241, 152, 124);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Catamaran', sans-serif;
    font-size: 16px;
    text-align: left;
    min-height: 100vh;
}

p {
    color: rgb(119, 119, 119);
    line-height: 1.2;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    padding: 8px 0;
}

.profile-pic {
    border-radius: 50%;
}

button, fieldset, input {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    border-radius: 30px;
}

.container {
    background-color: var(--body-color);
    min-height: 100vh;
    display: grid;
    grid-template: 0.8fr 5fr / 1fr 5fr;
}

 /* HEADER */

.header {
    background-color: var(--card-color);
    grid-column: 2;
    padding: 16px 32px 20px 32px;
    box-shadow: 0px 5px 8px rgba(128, 128, 128, 0.228);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header>div {
    flex: 1;
}

.header-top {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: center;
}

.search-icon {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.search-icon>img {
    height: auto;
    width: 25px;
}

.searchbar>form {
    flex: 1;
}

input {
    background-color: var(--body-color);
    cursor: text;
    width: 85%;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
}

.user-info {
    font-weight: bold;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    gap: 20px;
    align-items: center;
}

.user-info>.notif {
    justify-self: end;
    height: auto;
    width: 25px;
}

.user-info>.profile-pic {
    justify-self: end;
    height: auto;
    width: 36px;
}

.username {
    justify-self: center;
}

.header-main {
    display: grid;
    grid-template-columns: 80px 1fr 1.5fr;
    align-items: center;
    gap: 15px;
}

.hello-message {
    font-weight: bold;
}

.header-main>.profile-pic {
    justify-self: end;
    height: auto;
    width: 60px;
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-end;
    padding-right: 20px;
}

button {
    flex: 0 0 auto;
    width: 7rem;
    background-color: var(--main-color);
    color: var(--light-text);
    text-align: center;
    padding: 5px;
}


/* SIDEBAR  */
.sidebar {
    color: var(--light-text);
    background-color: var(--main-color);
    padding: 16px;
    padding-right: 2em;
    grid-row: 1 / span 2;
}

.sidebar-options {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

ul {
    list-style-type: none;
    padding: 15px 0;
}

li>img {
    height: auto;
    width: 20px;
}

li {
    padding: 3px 0;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 10px;
}

.dashboard-header {
    display: grid;
    grid-template-columns: 1.7rem 1fr;
    gap: 10px;
    align-items: center;
}

.dashboard-logo {
    height: auto;
    width: 1.7rem;
}



/* MAIN CONTENT */

.main-content-container {
    padding: 16px 32px 20px 32px;
    grid-column: 2;
    display: grid;
    grid-template: 0.8fr 0.8fr / 3fr 1fr;
    gap: 20px;
}

.card, .announcements-card, .trending-card{
    padding: 20px;
    color: var(--dark-text);
    background-color: var(--card-color);
    border-radius: 5px;
    box-shadow: 0px 5px 8px rgba(128, 128, 128, 0.228);
}


.projects-container {
    grid-row: 1 / span 2;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.card {
    border-left: 5px solid var(--accent);
    display: flex;
    flex-direction: column;
}

.card-text {
    min-height: 100px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: auto;
}

.social-icons>img {
    width: 20px;
    height: auto;
}


hr {
    margin: 10px 0;
}


.trending-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-trend {
    flex: 1;
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 10px;
    align-items: center;
}

.profile-trend>.profile-pic{
    height: auto;
    width: 35px;
}


p.handle {
    color: var(--dark-text);
}